@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Portal służący do obsługi rezerwacji w hostelu</p>
    <p>Piec 1 <b>(szary)</b></p>
    <img src="/images/piec1.jpg" alt="piec 1"/>
    <p>Piec 2 <b>(też szary)</b></p>
    <img src="/images/piec2.jpg" alt="piec 2"/>
</div>
